/* -------------------------------- 

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Droid Serif', serif;
  font-size: 100%;
  color: #7f8c97;
  background-color: #e9f0f5;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #acb7c0;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  display: table;
  clear: both;
  /* clearfix */
  content: '';
}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
  line-height: 5vh;
  height: 100vh;
  text-align: center;
  background-image: url("/img/egraphic.svg");
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header #logo {
  width: 15vh;
  height: 15vh;
  padding-top: 3vh;
  padding-left: 3vh;
  color: yellow;
}

header h1 {
  font-size: 3vh;
  padding-top: 20vh;
  color: rgba(255, 255, 255, 0.73);
}

@media only screen and (min-width: 1170px) {
  header {
    line-height: 5vh;
  }
  header h1 {
    font-size: 5vh;
  }
}

#cd-timeline {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em 0;
}

#cd-timeline::before {
  position: absolute;
  top: 0;
  left: 18px;
  width: 4px;
  height: 100%;
  /* this is the vertical line */
  content: '';
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block:after {
  display: table;
  clear: both;
  content: '';
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img img {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;
}

.cd-timeline-img.cd-picture {
  background: #75ce66;
}

.cd-timeline-img.cd-movie {
  background: #c03b44;
}

.cd-timeline-img.cd-location {
  background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    -moz-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 .6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
  }
}


@-moz-keyframes cd-bounce-1 {
  0% {
    -moz-transform: scale(0.5);
    opacity: 0;
  }
  60% {
    -moz-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
  }
}


@keyframes cd-bounce-1 {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}


.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  padding: 1em;
  border-radius: .25em;
  background: white;
  box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline-content:after {
  display: table;
  clear: both;
  content: '';
}

.cd-timeline-content h2 {
  color: #303e49;
}

.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: .8125rem;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}

.cd-timeline-content p {
  line-height: 1.6;
  margin: 1em 0;
}

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  color: white;
  border-radius: .25em;
  background: #acb7c0;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.cd-timeline-content::before {
  position: absolute;
  top: 16px;
  right: 100%;
  width: 0;
  height: 0;
  content: '';
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: .875rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    width: 45%;
    margin-left: 0;
    padding: 1.6em;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    font-size: 16px;
    font-size: 1rem;
    position: absolute;
    top: 6px;
    left: 122%;
    width: 100%;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    right: 100%;
    left: auto;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    right: 122%;
    left: auto;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 .6s;
    -moz-animation: cd-bounce-2 .6s;
    animation: cd-bounce-2 .6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse .6s;
    -moz-animation: cd-bounce-2-inverse .6s;
    animation: cd-bounce-2-inverse .6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(20px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
  }
}


@-moz-keyframes cd-bounce-2 {
  0% {
    -moz-transform: translateX(-100px);
    opacity: 0;
  }
  60% {
    -moz-transform: translateX(20px);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(0);
  }
}


@keyframes cd-bounce-2 {
  0% {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    -webkit-transform: translateX(100px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
  }
}


@-moz-keyframes cd-bounce-2-inverse {
  0% {
    -moz-transform: translateX(100px);
    opacity: 0;
  }
  60% {
    -moz-transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(0);
  }
}


@keyframes cd-bounce-2-inverse {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #243040;
  background-color: #fff;
}

body,
html {
  /* prevent horizontal scrolling */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #9cb3a8;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
main {
  position: relative;
  z-index: 2;
  overflow-y: auto;
  /* fix bug on iOS */
  height: 100vh;
  padding: 200px 5%;
  -webkit-transition: -webkit-transform .7s;
  -moz-transition: -moz-transform .7s;
  transition: transform .7s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #9cb3a8;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

main h1,
main p {
  text-align: center;
}

main h1 {
  font-size: 2.6rem;
  margin-bottom: 1em;
}

main p {
  font-family: 'Merriweather', serif;
  line-height: 1.6;
  max-width: 450px;
  margin: 0 auto;
  color: #d6dfdb;
}

.navigation-is-open main {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

@media only screen and (min-width: 768px) {
  main {
    padding: 250px 10%;
  }
  main h1 {
    font-size: 3.6rem;
  }
  main p {
    font-size: 2rem;
  }
}

.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  top: 20px;
  left: 5%;
  /* image replacement */
  overflow: hidden;
  width: 54px;
  height: 54px;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 50%;
  background-color: #243040;
}

.cd-nav-trigger .cd-nav-icon {
  /* icon created in CSS */
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 22px;
  height: 2px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
}

.cd-nav-trigger .cd-nav-icon::before,
.cd-nav-trigger .cd-nav-icon:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* upper and lower lines of the menu icon */
  content: '';
  -webkit-transition: -webkit-transform .5s, width .5s, top .3s;
  -moz-transition: -moz-transform .5s, width .5s, top .3s;
  transition: transform .5s, width .5s, top .3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background-color: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}

.cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
}

.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
  top: 2px;
}

.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
  top: -2px;
}

.cd-nav-trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}

.cd-nav-trigger circle {
  /* circle border animation */
  -webkit-transition: stroke-dashoffset .4s 0s;
  -moz-transition: stroke-dashoffset .4s 0s;
  transition: stroke-dashoffset .4s 0s;
}

.navigation-is-open .cd-nav-trigger {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  -webkit-transition: -webkit-transform .5s, width .5s;
  -moz-transition: -moz-transform .5s, width .5s;
  transition: transform .5s, width .5s;
}

.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after,
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
  top: 0;
}

.navigation-is-open .cd-nav-trigger circle {
  -webkit-transition: stroke-dashoffset .4s .3s;
  -moz-transition: stroke-dashoffset .4s .3s;
  transition: stroke-dashoffset .4s .3s;
  stroke-dashoffset: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    top: 40px;
  }
}

.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0s .7s;
  -moz-transition: visibility 0s .7s;
  transition: visibility 0s .7s;
  background-color: #243040;
}

.cd-nav .cd-navigation-wrapper {
  overflow-y: auto;
  /* all navigation content */
  height: 100%;
  padding: 40px 5% 40px calc(5% + 80px);
  -webkit-transition: -webkit-transform .7s;
  -moz-transition: -moz-transform .7s;
  transition: transform .7s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateZ(0);
  -moz-transform: translateX(-50%);
  -ms-transform: translateZ(0);
  -ms-transform: translateX(-50%);
  -o-transform: translateZ(0);
  -o-transform: translateX(-50%);
  transform: translateZ(0);
  transform: translateX(-50%);
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navigation-is-open .cd-nav {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.navigation-is-open .cd-nav .cd-navigation-wrapper {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.cd-nav h2 {
  font-size: 1.3rem;
  font-weight: 800;
  position: relative;
  margin-bottom: 1.7em;
  text-transform: uppercase;
  color: #080b0f;
}

.cd-nav h2::after {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 60px;
  height: 1px;
  /* bottom separation line */
  content: '';
  background-color: currentColor;
}

.cd-nav .cd-primary-nav {
  margin-top: 60px;
}

.cd-nav .cd-primary-nav li {
  margin: 1.6em 0;
}

.cd-nav .cd-primary-nav a {
  font-family: 'Merriweather', serif;
  font-size: 2.4rem;
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
}

.cd-nav .cd-primary-nav a.selected {
  color: #fff;
}

.no-touch .cd-nav .cd-primary-nav a:hover {
  color: #fff;
}

.cd-nav .cd-contact-info {
  margin-top: 80px;
}

.cd-nav .cd-contact-info li {
  font-family: 'Merriweather', serif;
  line-height: 1.2;
  margin-bottom: 1.5em;
  color: rgba(255, 255, 255, 0.3);
}

.cd-nav .cd-contact-info a {
  color: #fff;
}

.cd-nav .cd-contact-info span {
  display: block;
}

.cd-nav .cd-contact-info li,
.cd-nav .cd-contact-info a,
.cd-nav .cd-contact-info span {
  font-size: 1.6rem;
}

@media only screen and (min-width: 1170px) {
  .cd-nav .cd-navigation-wrapper {
    padding: 62px 20%;
  }
  .cd-nav .cd-navigation-wrapper::after {
    display: table;
    clear: both;
    content: '';
  }
  .cd-nav .cd-half-block {
    float: left;
    width: 50%;
  }
  .cd-nav .cd-primary-nav {
    margin-top: 0;
  }
  .cd-nav h2 {
    font-size: 1.5rem;
    margin-bottom: 5.6em;
  }
  .cd-nav .cd-primary-nav li {
    margin: 2em 0;
  }
  .cd-nav .cd-primary-nav a {
    font-size: 4.4rem;
  }
  .cd-nav .cd-contact-info {
    margin-top: 120px;
    text-align: right;
  }
  .cd-nav .cd-contact-info li {
    margin-bottom: 2.4em;
  }
  .cd-nav .cd-contact-info li,
  .cd-nav .cd-contact-info a,
  .cd-nav .cd-contact-info span {
    font-size: 2rem;
  }
}

.no-js main {
  overflow: visible;
  height: auto;
}

.no-js .cd-nav {
  position: static;
  visibility: visible;
}

.no-js .cd-nav .cd-navigation-wrapper {
  overflow: visible;
  height: auto;
  padding: 100px 5%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}